<!doctype html>
<html lang="en">
  @@include('includes/head.html')
  <body>
    @@include('includes/nav.html')
    <div class="container">
      <form id="config-1" action="configure-2.html">
        <div class="row">
          <div id="preview-container"class="col-sm-4">
            <svg id="svg"
                 class="kpc-backend"
                 data-snapshot="true"
                 data-warp="true"
                 xmlns:svg="http://www.w3.org/2000/svg"
                 xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink"
                 xml:space="preserve"
                 xmlns:xml="http://www.w3.org/XML/1998/namespace"
                 version="1.1"
                 baseProfile="basic"
                 width="350"
                 height="622">
              <polygon id="camera"
                       class="draggable"
                       points="340,760,740,760,740,1160,340,1160"></polygon>
            </svg>
          </div>
          <div class="col-sm-8">
            <h3>Kamerabild Entzerrung</h3>
            <p>
              Aufgrund des schrägen Winkels der Kamera, werden geometrische Formen im Kamerabild verzerrt dargestellt.<br><br>
              Das System kann diese Verzerrung rechnerisch kompensieren, indem das Kamerabild entsprechend entzerrt wird. Um diese Entzerrung zu kalibrieren, führe Sie die folgenden Schritte durch:<br>
              <ol type="1">
              <li style="margin-bottom:10px">Platzieren Sie eine quadratische Kalibriervorlage (Kantenlänge ca. 1 m) im Bereich des Kamerabilds, z.B. auf dem Boden. Starten Sie die Konfiguration ggf. neu damit die Vorlage im Standbild der Kamera erscheint.</li>
              <li style="margin-bottom:10px">Verschieben Sie die Ecken der transluzenten gelben Fläche bis die Ecken exakt auf den Ecken der Vorlage im Kamerabild liegen. Die Entzerrungsberechnung nähert sie so markierte Fläche wieder einem Quadrat an und kompensiert so die Kameraverzerrung.</li>
              <li style="margin-bottom:10px">Starten Sie nun die Entzerrungsberechnung über die Schaltfläche.</li>
              <li style="margin-bottom:10px">Durch die Entzerrung wird der rechteckige Bildausschnitt des Kamerabilds ebenfalls verzerrt und nicht mehr in voller Größe nutzbar. Im nächsten Konfigurationsschritt kann der Bildausschnitt entsprechend angepasst werden.</li>
              </ol>
            </p>
            <a class="btn btn-primary reset-polygon">Entzerrung zurücksetzen</a>
            <input type="submit" class="btn btn-primary" value="Entzerrung berechnen" />
          </div>
        </div>
      </form>
    </div>
    @@include('includes/footer.html')
  </body>
</html>