<!doctype html>
<html lang="en">
  @@include('includes/head.html')
  <body>
    @@include('includes/nav.html')
    <div class="container">
      <div class="card">
        <h3 class="card-header">Konfiguration abgeschlossen.</h3>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <p>
                Die Konfiguration wurde erfolgreich abgeschlossen.
              </p>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary" href="configure-2.html">
            Zurück zur Ausrichtung
          </a>
        </div>
      </div>
    </div>
    @@include('includes/footer.html')
  </body>
</html>