<!doctype html>
<html lang="en">
  @@include('includes/head.html')
  <body>
    @@include('includes/nav.html')
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3>Konfiguration abgeschlossen</h3>
          <p>
            Die Konfiguration wurde erfolgreich abgeschlossen und an das System übertragen. Bitte warten Sie bis das System neu gestartet und die  Konfiguration übernommen hat.<br><br>
            Anschließend können Sie die Darstellung noch einmal überarbeiten um kleinere Anpassungen vorzunehmen. Alternativ können Sie zur Startseite zurückkehren um einen neuen Konfigurationsdurchlauf zu starten.<br><br>
            War die Konfiguration erfolgreich, können Sie die Parameter in eine Datei speichern und diese zu einem späteren Zeitpunkt erneut laden.
          </p>
          <a class="btn btn-primary go-back">
            Darstellung Anpassen
          </a>
          <a class="btn btn-primary" href="./">
            Zur Startseite
          </a>
          <a class="btn btn-primary save-config">
            <i class="fa fa-download"></i> Konfiguration in Datei speichern
          </a>
        </div>
      </div>
    </div>
    @@include('includes/footer.html')
  </body>
</html>