<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/app.min.css">
    <title>Kärcher Portalkamera: Konfiguration</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light mb-5">
      <div class="container">
        @@include('includes/logo.html')
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              System
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item reset-config" href="javascript:;">
                <i class="fa fa-wrench"></i> Auf Werkseinstellung zurücksetzen
              </a>
              <input id="upload-update" class="d-none" type="file">
              <a class="dropdown-item update-software" href="javascript:;">
                <i class="fa fa-refresh"></i> Software-Update einspielen
              </a>
              <a class="dropdown-item" href="http://portalcam.config/log.txt" target="_blank">
                <i class="fa fa-file-text"></i> Log-File öffnen
              </a>
              <a class="dropdown-item" href="version.html">
                <i class="fa fa-info-circle"></i> Version
              </a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <form action="configure-1.html" id="start" enctype="multipart/form-data">
        <div class="row">
          <div class="col-sm-12">
            <h3>Systemkonfiguration</h3>
            <p>
              Stellen Sie zunächst sicher, dass die Kamera den Einfahrtsbereich der Waschstraße vollständig abdeckt. Justieren Sie ggf. die Position der Kamera im Portalrahmen, bis das Kamerabild optimal ausgerichtet ist.<br><br>
              Klicken Sie auf „Neue Konfiguration erstellen“ um das Kamerabild und die Grafikanzeigen zu konfigurieren. Beim Start der Konfiguration wird das System in den Wartungsmodus versetzt, was bis zu 20 Sekunden in Anspruch nehmen kann. Anschließend werden Sie durch die einzelnen Konfigurationsschritte geführt.<br><br>
              Alternativ kann eine zuvor gespeicherte Konfigurationsdatei geladen und an das System übertragen werden. In diesem Fall startet das System automatisch neu und übernimmt die geladene Konfiguration.
            </p>
            <br>
            <button type="submit"
                    class="btn btn-primary">
              <i class="fa fa-plus"></i>&nbsp; Neue Konfiguration erstellen
            </button>
            <input id="upload-config" class="d-none" type="file">
            <a class="btn btn-primary load-config">
              <i class="fa fa-file"></i>&nbsp; Bestehende Konfiguration aus Datei laden
            </a>
          </div>
        </div>
      </form>
    </div>
    <script src="js/app.min.js"></script>
  </body>
</html>