<!doctype html>
<html lang="en">
  @@include('includes/head.html')
  <body>
    @@include('includes/nav.html')
    <div class="container">
      <form action="configure-1.html" id="start">
        <div class="row">
          <div class="col-sm-12">
            <h3>Konfiguration starten</h3>
            <p>
              Klicken Sie auf „Konfiguration starten“ um die Konfiguration zu starten.<br>
              Dieser Vorgang dauert ein paar Sekunden, da die Kamera in Wartungsmodus versetzt
              wird.
            </p>
            <button type="submit"
                    class="btn btn-primary pull-right">
              Konfiguration starten
            </button>
          </div>
        </div>
      </form>
    </div>
    @@include('includes/footer.html')
  </body>
</html>